body {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

img#CoverArt{
    border-radius:15px;
    margin-bottom: 20px;
}

#Title {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    font-weight: 400;
}

#Rating {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    font-weight: 400;
}

iframe{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}



